<html>
<body>
<pre>
Usage - go to {{ hostname }}/something if it exists as a public link you will be redirected if not you will be prompted to create the link.

If something has multiple versions you will be shown a listing to chose from.

You can add your own version of an existing link by going to {{ hostname }}/add/something&force.

If you own the link you can edit/delete by going to {{ hostname }}/edit/something or {{ hostname }}/delete/something.
</pre>
</body>
</html>
