<location />
	MellonSPPrivateKeyFile /etc/apache2/mellon/{{ hostname }}.key
	MellonSPCertFile /etc/apache2/mellon/{{ hostname }}.cert
	MellonSPMetadataFile /etc/apache2/mellon/{{ hostname }}.xml
	MellonIdPMetadataFile /etc/apache2/mellon/IdP_metadata.xml
	MellonEndpointPath /mellon
	MellonEnable "info"
</Location>
