<?php
$config['dbHost'] = 'localhost';
$config['dbName'] = 'superlinks';
$config['dbUser'] = 'superlinks';
$config['dbPass'] = '{{ password_public }}';
$config['dsn'] = 'mysql:dbname='.$config['dbName'].';host='.$config['dbHost'];
?>
